<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <div style="margin: 50px;">
        <h1>Links</h1>
        <a href="{% url 'students' %}">students</a><br>
        <a href="{% url 'employee' %}">employee</a>
    </div>

    <div style="margin: 50px;">
        <h1>Student List</h1>
        
        {% for st in students %}
            <a href="{% url 'studentDetail' st.id %}">{{st.student_id}} - {{st.name}}</a><br>
        {% endfor %}
            
    </div>
</body>
</html>